@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap");
/* css reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* special default variables */
	--color1: hsl(31, 77%, 52%);
	--color2: hsl(184, 100%, 22%);
	--color3: hsl(179, 100%, 13%);
	--color4: hsl(0, 0%, 100%);
	--font1: "Big Shoulders Display", serif;
	--font2: "Lexend Deca", serif;
}

/* main section starts here */
.main-title {
	max-height: 50px;
	padding: 30px 0px;
	background-color: #000;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* container section starts here */
.outer-container {
	background-color: var(--color4);
	min-height: 100vh;
	min-width: 100%;
	padding: 40px 20px;
	font-weight: 400;
	font-family: var(--font2);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card {
	padding: 45px;
	width: 315px;
	height: 430px;
}

.card-1 {
	border-radius: 10px 10px 0 0;
	background-color: var(--color1);
}

.card-2 {
	background-color: var(--color2);
}

.card-3 {
	background-color: var(--color3);
	border-radius: 0 0 10px 10px;
}

.card-title {
	margin-top: 25px;
	text-transform: uppercase;
	font-family: var(--font1);
	font-weight: 700;
	font-size: 2.7rem;
	color: var(--color4);
	margin-bottom: 25px;
}

.card-description {
	font-size: 0.9rem;
	color: var(--color4);
	line-height: 25px;
}

.card-button {
	font-family: var(--font2);
	text-align: center;
	padding: 15px 30px;
	border-radius: 50px;
	border: 2px solid var(--color4);
	font-size: 0.9rem;
	margin-top: 25px;
	cursor: pointer;
	transition: background-color 0.15s, color 0.15s;
}

.card-button:hover {
	background-color: transparent;
	color: var(--color4);
}

.button1 {
	color: var(--color1);
}

.button2 {
	color: var(--color2);
}

.button3 {
	color: var(--color3);
}

/* container section ends here */

/* main section ends here */

/* footer section starts */
.author-credit {
	height: 50px;
	padding: 10px;
	background-color: #000;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.author-credit a {
	color: #fff;
	text-decoration: none;
}

.author-credit a:hover {
	color: rgb(0, 200, 255);
	text-decoration: underline;
}

.author-credit a:visited {
	color: rgb(0, 140, 180);
	text-decoration: underline;
}
/* footer section ends */

/* media query section starts*/
@media (max-width: 480px) {
	.author-credit {
		font-size: 12px;
	}
}

@media (min-width: 1024px) {
	.outer-container {
		flex-direction: row;
		justify-content: center;
	}

	.card-1 {
		border-radius: 10px 0 0 10px;
	}

	.card-3 {
		border-radius: 0 10px 10px 0;
	}
}

/* media query section ends*/
