@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
/* css reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* main section starts here */
.main-title {
	max-height: 50px;
	padding: 30px 0px;
	background-color: #000;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* container section starts here */
.outer-container {
	background-color: hsl(212, 45%, 89%);
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	background-color: #fff;
	height: 380px;
	width: 240px;
	border-radius: 15px;
	padding: 15px;
	font-family: "Outfit", sans-serif;
	box-shadow: 0px 2px 10px 5px hsla(0, 0%, 0%, 0.15);
}

.qr-code {
	width: 100%;
	border-radius: 10px;
}

.content-title {
	margin-top: 14px;
	text-align: center;
	color: hsl(218, 44%, 22%);
	font-size: 18px;
	font-weight: 700;
	width: 100%;
}

.content-description {
	margin-top: 12px;
	color: hsl(216, 15%, 48%);
	font-size: 13px;
	font-weight: 400;
	text-align: center;
	width: 100%;
}

/* container section ends here */

/* main section ends here */

/* footer section starts */
.author-credit {
	height: 50px;
	padding: 10px;
	background-color: #000;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.author-credit a {
	color: #fff;
	text-decoration: none;
}

.author-credit a:hover {
	color: rgb(0, 200, 255);
	text-decoration: underline;
}

.author-credit a:visited {
	color: rgb(0, 140, 180);
	text-decoration: underline;
}
/* footer section ends */

/* media query section starts*/
@media (max-width: 480px) {
	.author-credit {
		font-size: 12px;
	}
}
/* media query section ends*/
